.about-info {
  counter-reset: info;
  padding: 40px 0 0;
  background-color: var(--grey-color);

  &__content {
    background-color: var(--grey-color);
  }

  &__text {
    max-width: 600px;
  }

  &__descr {
    margin-bottom: 10px;
  }

  &__skills {
    padding: 30px 0 0;
  }
}
