.about {
  &__text {
    max-width: 605px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__descr {
    margin-bottom: 20px;
  }

  &__illustration {
    position: absolute;
    right: 20%;
    top: 0;
    width: 182px;
    height: 816px;
    transform: translateY(-100%);
    pointer-events: none;

    &--animation {
      animation:
        aboutIllistrationShow 2s ease forwards,
        aboutIllistrationDown 1s ease 3s forwards,
        aboutIllistrationDown 1s reverse ease 5.5s forwards,
        aboutIllistrationDown 1s ease 14.5s forwards;

      .about__img--spiderman-body {
        animation:
          elementMove 1s ease 2s,
          elementMove 1s ease 11.8s;
      }

      .about__img--spiderman-head {
        animation:
          elementMove 1s ease 2.1s,
          elementMove 1s ease 11.9s;
      }

      .about__img--eye-1,
      .about__img--eye-2 {
        animation:
          eyeScale 1s 1s,
          eyeScale 1s 3s,
          hidden 1s steps(1, start) 2s,
          eyeScale 1s 5.5s,
          eyeScale 1s 7s,
          eyeScale 1s 11s,
          eyeScale 1s 13.7s,
          eyeScale 1s 15s,
          hidden 1s steps(1, start) 18s forwards,
          visible 1s steps(1, start) 20s forwards;
      }

      .about__img--eye-closed-1,
      .about__img--eye-closed-2 {
        animation:
          visible 1s steps(1, start) 2s,
          visible 1s steps(1, start) 18s forwards,
          hidden 1s steps(1, start) 20s forwards;
      }

      .about__img--emotion {
        animation:
          emotionStart 1s steps(1, start) 2s,
          emotionStart 1s steps(1, start) 11.8s;
      }

      .about__img--mask {
        animation:
          maskOpen 0.5s ease 3s forwards,
          maskOpen 0.5s ease reverse 5.1s forwards,
          maskOpen 0.5s ease 8s forwards,
          elementMove 1s ease 11.9s,
          maskOpen 0.5s ease reverse 13.3s forwards,
          maskOpen 0.5s ease 15.5s forwards,
          maskOpen 0.5s ease reverse 21.4s forwards;
      }

      .about__img--mouth {
        animation:
          visible 0.4s steps(1, start) 3.5s forwards,
          hidden 0.4s steps(1, start) 3.9s forwards,
          visible 0.4s steps(1, start) 4.3s forwards,
          hidden 0.4s steps(1, start) 4.7s forwards,
          visible 0.4s steps(1, start) 8.7s forwards,
          hidden 0.4s steps(1, start) 11.8s forwards,
          visible 0.4s steps(1, start) 16.2s forwards,
          hidden 0.4s steps(1, start) 18s forwards,
          visible 0.4s steps(1, start) 18.4s forwards,
          hidden 0.4s steps(1, start) 18.8s forwards,
          visible 0.4s steps(1, start) 19.2s forwards,
          hidden 0.4s steps(1, start) 21s forwards;
      }

      .about__img--mouth-open {
        animation:
          visible 0.4s steps(1, start) 3.9s,
          hidden 0.4s steps(1, start) 4.3s,
          visible 0.4s steps(1, start) 4.7s,
          visible 0.4s steps(1, start) 11.8s forwards,
          hidden 0.4s steps(1, start) 12.8s forwards,
          visible 0.4s steps(1, start) 18s forwards,
          hidden 0.4s steps(1, start) 18.4s forwards,
          visible 0.4s steps(1, start) 18.8s forwards,
          hidden 0.4s steps(1, start) 19.2s forwards;
      }

      .about__img--message {
        animation:
          messageShow 1s ease 3.9s forwards,
          messageShow 0.5s ease reverse 6s forwards;
      }

      .about__img--lang {
        animation: languageShow 2s ease 9.5s;
      }

      .about__img--sleep-1 {
        animation:
          visible 0.4s steps(1, start) 18s forwards,
          hidden 0.4s steps(1, start) 19.6s forwards;
      }

      .about__img--sleep-2 {
        animation:
          visible 0.4s steps(1, start) 18s forwards,
          hidden 0.4s steps(1, start) 18.4s forwards,
          visible 0.4s steps(1, start) 18.8s forwards,
          hidden 0.4s steps(1, start) 19.2s forwards;
      }
    }
  }

  &__img {
    position: absolute;

    &--spiderman-body {
      @include absoluteLeftCenter;

      top: 0;
    }

    &--spiderman-head {
      @include absoluteLeftCenter;

      bottom: 10px;
    }

    &--eye-1 {
      left: 11px;
      bottom: 67px;
    }

    &--eye-2 {
      right: 11px;
      bottom: 67px;
    }

    &--eye-closed-1 {
      left: 9px;
      bottom: 90px;
      opacity: 0;
    }

    &--eye-closed-2 {
      right: 9px;
      bottom: 90px;
      opacity: 0;
    }

    &--emotion {
      @include flex;
      @include absoluteLeftCenter;

      bottom: -40px;
      opacity: 0;

      &::before,
      &::after {
        content: "";
      }

      &::before,
      span,
      &::after {
        border-style: solid;
        border-width: 0 10px 40px;
        border-color: transparent transparent var(--light-color);
        width: 0;
        height: 0;
      }

      &::before {
        transform: translateX(-15px) rotate(22.5deg);
      }

      &::after {
        transform: translateX(15px) rotate(-22.5deg);
      }

      span {
        transform: translateY(15px);
      }
    }

    &--mask {
      left: 50%;
      bottom: 137px;
      transform: translateX(-50%) scale(0);
      transform-origin: top;
    }

    &--mouth {
      @include absoluteLeftCenter;

      bottom: 168px;
      opacity: 0;
    }

    &--mouth-open {
      @include absoluteLeftCenter;

      bottom: 163px;
      opacity: 0;
    }

    &--message {
      left: -66px;
      bottom: 138px;
      transform: translateX(80px) scale(0);

      span {
        display: block;
        border-radius: 100%;
        padding: 20px;
        font-weight: 700;
        font-size: 30px;
        color: var(--dark-color);
        background-color: var(--light-color);
      }
    }

    &--lang-wrapper {
      @include absoluteLeftCenter;

      bottom: 177px;
      overflow: hidden;
      width: 23px;
      height: 33px;
    }

    &--lang {
      transform: translateY(100%);
    }

    &--sleep-wrapper {
      left: -35px;
      bottom: -40px;
      width: 60px;
      height: 75px;
    }

    &--sleep-1 {
      right: 0;
      top: 0;
      width: 40%;
      height: 40%;
      font-weight: 700;
      font-size: 30px;
      opacity: 0;
    }

    &--sleep-2 {
      left: 0;
      bottom: 0;
      width: 40%;
      height: 40%;
      font-weight: 700;
      font-size: 30px;
      opacity: 0;
    }
  }
}
