@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes aboutIllistrationShow {
  from {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(-15%);
  }

  70% {
    transform: translateY(-40%);
  }

  to {
    transform: translateY(-35%);
  }
}

@keyframes aboutIllistrationDown {
  from {
    transform: translateY(-35%);
  }

  to {
    transform: translateY(-25%);
  }
}

@keyframes eyeScale {
  50% {
    transform: scaleY(0.7);
  }

  from {
    transform: scaleY(1);
  }
}

@keyframes hidden {
  to {
    opacity: 0;
  }
}

@keyframes visible {
  to {
    opacity: 1;
  }
}

@keyframes emotionStart {
  25% {
    transform: translateX(-50%) translateY(15px);
  }

  50% {
    transform: translateX(-50%) translateY(0);
  }

  75% {
    transform: translateX(-50%) translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes elementMove {
  25% {
    transform: translateX(-50%) scale(1) translateY(5px);
  }

  50% {
    transform: translateX(-50%) scale(1) translateY(0);
  }

  75% {
    transform: translateX(-50%) scale(1) translateY(5px);
  }

  from {
    transform: translateX(-50%) scale(1) translateY(0);
  }
}

@keyframes maskOpen {
  from {
    transform: translateX(-50%) scale(0);
  }

  to {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes messageShow {
  from {
    transform: translateX(80px) scale(0);
  }

  to {
    transform: translateX(0) scale(1);
  }
}

@keyframes languageShow {
  25% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50%);
  }

  75% {
    transform: translateY(0);
  }

  to {
    transform: translateY(100%);
  }
}
