.burger {
  --burger-width: 50px;
  --burger-height: 22px;
  --burger-line-height: 3px;

  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: rgba(var(--header-color) / 100%);
  background-color: transparent;
  filter: drop-shadow(3px 3px 10px rgba(0 0 0 / 70%));
  transition: color 0.5s ease-in-out;
  cursor: pointer;

  &::before,
  &__line {
    position: absolute;
    border-radius: 3px;
    height: var(--burger-line-height);
    background-color: currentcolor;
  }

  &::before {
    content: "";
    right: 0;
    top: 0;
    width: 70%;
    transition:
      transform 0.3s ease-in-out,
      top 0.3s ease-in-out,
      width 0.3s ease-in-out;
  }

  &__line {
    left: 0;
    bottom: 0;
    width: 100%;
    transition:
      transform 0.3s ease-in-out,
      bottom 0.3s ease-in-out;
  }

  &-menu {
    @include flex-all-center;
    @include bg-cover;

    position: fixed;
    z-index: 98;
    min-width: 320px;
    background-image: linear-gradient(257.37deg, #ff4d5a 0%, rgb(23 49 115 / 80%) 99.99%, rgb(37 70 185 / 50%) 100%);
    visibility: hidden;
    transform: translateY(-100%);
    transition:
      transform 0.5s ease-in-out,
      visibility 0.5s ease-in-out;
    inset: 0;

    &__item {
      @include mb(50px);

      text-align: center;
    }

    &__link {
      position: relative;
      display: block;
      overflow: hidden;
      font-family: "MontserratAlternates", sans-serif;
      font-weight: 700;
      font-size: 70px;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      &::before,
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 50%;
        height: 3px;
        background-color: var(--light-color);
        transition: transform 0.3s ease-in-out;
      }

      &::before {
        left: 0;
        transform: translateX(-100%);
      }

      &::after {
        right: 0;
        transform: translateX(100%);
      }
    }

    &__link-inside {
      display: flex;
      justify-content: center;
      transform: translateY(100%);
      transition: transform 0.5s ease-in-out;

      &--active {
        transform: translateY(0);
        transition-delay: 0.5s;
      }
    }

    &__link-content {
      transform-origin: bottom;
      transition: transform 0.15s ease-in-out;

      &--space {
        margin-right: 0.3em;
      }
    }

    &--active {
      visibility: visible;
      transform: translateY(0);
    }
  }

  &-menu__social {
    display: none;
  }

  &--active {
    &::before {
      top: 50%;
      width: 100%;
      transform: translateY(-50%) rotate(135deg);
    }

    .burger__line {
      bottom: 50%;
      transform: translateY(50%) rotate(-135deg);
    }
  }
}
