.contacts {
  &__title {
    margin-bottom: 50px;
  }

  &__descr {
    margin-bottom: 25px;
  }

  &__link {
    color: var(--light-color);
    transition: color 0.5s ease-in-out;
  }

  &__illustration-content {
    border-radius: 100%;
    width: 600px;
    height: 600px;
    box-shadow: 0 0 20px 50px rgb(255 255 255 / 50%);
    background-color: transparent;
  }
}
