.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  padding: 35px 0;

  &__content {
    @include flex-all-sb;

    position: relative;
    z-index: 99;
  }

  &__main {
    font-family: "MontserratAlternates", sans-serif;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0.1em;
    color: var(--light-color);
    transition: color 0.5s ease-in-out;
  }

  &__icons {
    @include flex-v-center;
  }
}
