.home {
  @include flex-all-sb;

  position: relative;
  padding-left: 170px;
  height: 100vh;

  &__text {
    max-width: 560px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__illustration {
    position: absolute;
    right: 8%;
    top: 0;
    z-index: -1;
    width: 650px;
    height: 100%;
  }

  &__moon {
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 100%;
    width: 650px;
    height: 650px;
    background-image: linear-gradient(180deg, #fff 0%, #81b3dd 100%);
    transform: translateY(-50%);
  }

  &__moon-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 520px;
    height: 560px;
    transform: translate(-50%, -50%);
  }

  &__cloud {
    position: absolute;
    width: 440px;
    height: 410px;

    &--1 {
      left: 41px;
      top: 23px;
      z-index: -1;
      transform: translateX(-50%);
    }

    &--2 {
      right: 60px;
      top: -22px;
      z-index: -1;
      transform: translateX(50%);
    }

    &--3 {
      right: 97px;
      bottom: 29px;
      transform: translateX(50%);
    }
  }

  &__title-portfolio {
    position: absolute;
    left: 50%;
    bottom: 80px;
    z-index: -1;
    margin: 0;
    font-weight: 700;
    font-size: 80px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-color);
    transform: translateX(-50%);
    pointer-events: none;
  }
}
