.home {
  &__text {
    max-width: 560px;
  }

  &__title {
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  &__illustration {
    width: 650px;
    height: 650px;
  }

  &__img {
    position: absolute;

    &--moon {
      left: 0;
      top: 0;
      border-radius: 100%;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, #fff 0%, #81b3dd 100%);
    }

    &--moon-content {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 520px;
      height: 560px;
      transform: translate(-50%, -50%);
    }

    &--cloud-1,
    &--cloud-2,
    &--cloud-3 {
      width: 440px;
      height: 267px;
    }

    &--cloud-1 {
      left: 42px;
      top: -25px;
      z-index: -1;
      transform: translateX(-50%);
    }

    &--cloud-2 {
      right: 79px;
      top: -79px;
      z-index: -1;
      transform: translateX(50%);
    }

    &--cloud-3 {
      right: 109px;
      bottom: -40px;
      transform: translateX(50%);
    }
  }
}
