.link {
  display: inline-block;
  border-radius: 50px;
  padding: 15px 30px;
  font-family: "MontserratAlternates", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: var(--light-color);
  background-color: var(--main-color);
  transition:
    color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
}
