.nav {
  &__list {
    @include flex;

    &--column {
      flex-direction: column;
    }
  }

  &__item {
  }

  &__link {
    font-weight: 700;
    font-size: 70px;
    color: var(--light-color);
  }
}
