.page-loading {
  @include bg-cover;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(257.37deg, #173173 0%, rgba(23 49 115 / 1.56%) 99.99%, rgba(37 70 185 / 0%) 100%);
  background-color: var(--dark-color);
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);

  &--hidden {
    transform: translate3d(0, -100%, 0);
  }
}
