.page-loading {
  position: fixed;
  z-index: 999;
  background-color: var(--river-color);
  transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  inset: 0;

  &--hidden {
    transform: translate3d(0, -100%, 0);
  }
}
