.social {
  @include flex-v-center;

  margin-right: 40px;

  &__item {
    @include mr(40px);
  }

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    color: var(--light-color);
    transition: color 500ms ease-in-out;
  }
}
