.title-absolute {
  @include absoluteLeftCenter;

  position: absolute;
  bottom: 70px;
  z-index: -1;
  pointer-events: none;

  &__text {
    margin: 0;
    font-weight: 700;
    font-size: 70px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-color);

    &--number {
      font-size: 100px;
      line-height: 1;
      color: var(--light-color);

      &::after {
        counter-increment: pagination;
        content: counter(pagination);
      }
    }
  }
}
