.work-info {
  position: relative;
  padding: 40px 160px;
  background-color: var(--light-color);

  &__content {
    @include flex;
  }

  &__text {
    @include mr(80px);

    max-width: 460px;
    color: var(--river-color);

    &:nth-child(2) {
      margin-left: auto;
    }

    &--bigger {
      max-width: 782px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 40px;
    text-transform: uppercase;

    &--not-descr {
      margin-bottom: 0;
    }
  }

  &__descr {
    margin: 0;
    font-family: "MontserratAlternates", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
  }

  &__counter {
    @include flex-v-center;

    position: absolute;
    left: 0;
    top: 40px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1;
    color: var(--main-color);

    &::before {
      content: "";
      margin-right: 15px;
      border-radius: 4px;
      width: 80px;
      height: 4px;
      background-color: currentcolor;
    }

    &::after {
      counter-increment: info;
      content: counter(info);
    }
  }
}
