<section class="about about-me">
  <div class="container section-default about-me__content">
    <div class="about__text">
      <h2 class="title about__title">Про Меня</h2>
      <div class="descr about__descr">
        Делаю сайты, и мне это нравится <br> Отдых - чтение
      </div>
      <a class="btn about__link" href="https://en.wikipedia.org/wiki/The_Pragmatic_Programmer" aria-label="Открыть википедию, это моя любимая книга" target="_blank">Любимая книга</a>
    </div>
    <div class="about__illustration">
      <img class="about__img about__img--spiderman-body" src="img/about/spiderman-body.svg" width="117" height="652" alt="Туловище человека паука, которое висит вверх ногами">
      <img class="about__img about__img--spiderman-head" src="img/about/spiderman-head.svg" width="183" height="183" alt="Голова человека паука, которая висит вверх ногами">
      <img class="about__img about__img--eye-1" src="img/about/spiderman-eye-1.svg" width="69" height="69" alt="Глаз человека паука">
      <img class="about__img about__img--eye-2" src="img/about/spiderman-eye-2.svg" width="69" height="69" alt="Глаз человека паука">
    </div>
  </div>
</section>
