<section class="about">
  <div class="container section-default">
    <div class="about__text">
      <h2 class="title about__title">Про Меня</h2>
      <div class="descr about__descr">
        Делаю сайты, и мне это нравится Люблю читать, больше всего программную литературу
      </div>
    </div>
    <div class="about__illustration">
      <img class="about__img about__img--spiderman-body" loading="lazy" src="img/about/spiderman-body.svg" width="117" height="652" alt="Туловище человека паука, которое висит вверх ногами">
      <img class="about__img about__img--spiderman-head" loading="lazy" src="img/about/spiderman-head.svg" width="183" height="183" alt="Голова человека паука, которая висит вверх ногами">
      <img class="about__img about__img--eye-1" loading="lazy" src="img/about/spiderman-eye-1.svg" width="69" height="69" alt="Глаз человека паука">
      <img class="about__img about__img--eye-2" loading="lazy" src="img/about/spiderman-eye-2.svg" width="69" height="69" alt="Глаз человека паука">
      <img class="about__img about__img--eye-closed-1" loading="lazy" src="img/about/spiderman-eye-closed-1.svg" width="60" height="20" alt="Закрытый глаз человека паука">
      <img class="about__img about__img--eye-closed-2" loading="lazy" src="img/about/spiderman-eye-closed-2.svg" width="60" height="20" alt="Закрытый глаз человека паука">
      <div class="about__img about__img--emotion">
        <span></span>
      </div>
      <img class="about__img about__img--mask" loading="lazy" src="img/about/spiderman-mouth.svg" width="166" height="61" alt="Маска человека паука, которая снята наполовину">
      <img class="about__img about__img--mouth" loading="lazy" src="img/about/spiderman-mouth-content.svg" width="69" height="12" alt="Рот человека паука">
      <img class="about__img about__img--mouth-open" loading="lazy" src="img/about/spiderman-mouth-hi.svg" width="22" height="22" alt="Говорящий рот человека паука">
      <div class="about__img about__img--message">
        <span>Hi</span>
      </div>
      <div class="about__img about__img--lang-wrapper">
        <img class="about__img about__img--lang" loading="lazy" src="img/about/spiderman-language.svg" width="23" height="33" alt="Язык человека паука">
      </div>
      <div class="about__img about__img--sleep-wrapper">
        <span class="about__img about__img--sleep-1">Z</span>
        <span class="about__img about__img--sleep-2">Z</span>
      </div>
    </div>
  </div>
</section>
