<section class="about-info">
  <div class="work-info about-info__content">
    <div class="container container--smaller work-info__content">
      <div class="work-info__text">
        <h2 class="work-info__title">Я</h2>
      </div>
      <div class="work-info__text about-info__text">
        <h2 class="work-info__title">Максим Марьин</h2>
        <p class="work-info__descr about-info__descr">
          2004 года рождения, город Томск. Свой путь в IT начал в 2019 году и по сей день продолжаю прокачивать свои навыки, заметил что при сложных условиях в работе мне легко адаптироваться и мое развитие идет быстрее. На данный момент активно изучаю английский язык
        </p>
        <picture>
          <source srcset="img/about-me/about-me-img.avif" type="image/avif">
          <source srcset="img/about-me/about-me-img.webp" type="image/webp">
          <img loading="lazy" src="img/about-me/about-me-img.jpg" class="image" width="650" height="610" alt="Человек, имя которого - Максим, стоит оперев руки на стул">
        </picture>
      </div>
    </div>
    <div class="work-info__counter"></div>
  </div>
  <div class="work-info about-info__content">
    <div class="container container--smaller work-info__content">
      <div class="work-info__text">
        <h2 class="work-info__title">Мои навыки</h2>
      </div>
    </div>
    <div class="work-info__counter"></div>
  </div>
</section>
