<section class="about-info">
  <div class="work-info about-info__content">
    <div class="container container--smaller work-info__content">
      <div class="work-info__text">
        <h2 class="work-info__title work-info__title--not-descr">Я</h2>
      </div>
      <div class="work-info__text about-info__text">
        <h2 class="work-info__title">Максим Марьин</h2>
        <p class="work-info__descr about-info__descr">
          2004 года рождения, город Томск. Свой путь в IT начал в 2019 году и по сей день продолжаю прокачивать свои навыки. В сложных условиях работы мне легко адаптироваться, и мое развитие идет быстрее. Последний год активно изучаю английский язык самостоятельно.
        </p>
        <picture>
          <source srcset="img/about-me/about-me-img.avif" type="image/avif">
          <source srcset="img/about-me/about-me-img.webp" type="image/webp">
          <img class="about-info__img" loading="lazy" src="img/about-me/about-me-img.jpg" width="600" height="550" alt="Человек, имя которого - Максим, стоит оперев руки на стул">
        </picture>
      </div>
    </div>
    <div class="work-info__counter" data-counter></div>
  </div>
  <div class="work-info about-info__content">
    <div class="container container--smaller work-info__content">
      <div class="work-info__text">
        <h2 class="work-info__title work-info__title--not-descr">Мои навыки</h2>
      </div>
    </div>
    <div class="work-info__counter" data-counter></div>
  </div>
  <div class="about-info__skills">
    <div class="container container--smaller">
      <ul class="list-reset skills-list">
        <li class="skills-list__card" data-skill>
          <img class="skills-list__img" loading="lazy" src="img/skills/figma-logo.svg" width="60" height="60" alt="Логотип Figma">
          <div class="skills-list__content">
            <div class="skills-list__text">
              <h2 class="skills-list__title">Figma</h2>
              <div class="skills-list__value skills-list__value--red">80</div>
            </div>
            <div class="skills-list__bar">
              <span class="skills-list__bar-content" data-bar></span>
            </div>
          </div>
        </li>
        <li class="skills-list__card" data-skill>
          <img class="skills-list__img" loading="lazy" src="img/skills/html-css-logo.svg" width="60" height="60" alt="Логотип HTML/CSS">
          <div class="skills-list__content">
            <div class="skills-list__text">
              <h2 class="skills-list__title">HTML/CSS</h2>
              <div class="skills-list__value skills-list__value--red">80</div>
            </div>
            <div class="skills-list__bar">
              <span class="skills-list__bar-content" data-bar></span>
            </div>
          </div>
        </li>
        <li class="skills-list__card" data-skill>
          <img class="skills-list__img" loading="lazy" src="img/skills/sass-logo.svg" width="60" height="60" alt="Логотип Sass">
          <div class="skills-list__content">
            <div class="skills-list__text">
              <h2 class="skills-list__title">Sass</h2>
              <div class="skills-list__value skills-list__value--red">80</div>
            </div>
            <div class="skills-list__bar">
              <span class="skills-list__bar-content" data-bar></span>
            </div>
          </div>
        </li>
        <li class="skills-list__card" data-skill>
          <img class="skills-list__img" loading="lazy" src="img/skills/git-logo.svg" width="60" height="60" alt="Логотип Git">
          <div class="skills-list__content">
            <div class="skills-list__text">
              <h2 class="skills-list__title">Git</h2>
              <div class="skills-list__value">70</div>
            </div>
            <div class="skills-list__bar">
              <span class="skills-list__bar-content" data-bar></span>
            </div>
          </div>
        </li>
        <li class="skills-list__card" data-skill>
          <img class="skills-list__img" loading="lazy" src="img/skills/photoshop-logo.svg" width="60" height="60" alt="Логотип Photoshop">
          <div class="skills-list__content">
            <div class="skills-list__text">
              <h2 class="skills-list__title">Photoshop</h2>
              <div class="skills-list__value">60</div>
            </div>
            <div class="skills-list__bar">
              <span class="skills-list__bar-content" data-bar></span>
            </div>
          </div>
        </li>
        <li class="skills-list__card" data-skill>
          <img class="skills-list__img" loading="lazy" src="img/skills/js-logo.svg" width="60" height="60" alt="Логотип JavaScript">
          <div class="skills-list__content">
            <div class="skills-list__text">
              <h2 class="skills-list__title">JavaScript</h2>
              <div class="skills-list__value">60</div>
            </div>
            <div class="skills-list__bar">
              <span class="skills-list__bar-content" data-bar></span>
            </div>
          </div>
        </li>
        <li class="skills-list__card" data-skill>
          <img class="skills-list__img" loading="lazy" src="img/skills/w3c-logo.svg" width="60" height="60" alt="Логотип WCAG">
          <div class="skills-list__content">
            <div class="skills-list__text">
              <h2 class="skills-list__title skills-list__title--tooltip">
                <span class="skills-list__title-text">
                  WCAG
                </span>
                <span class="tooltip">
                  <button class="btn-reset tooltip__btn" aria-describedby="wcag-info" data-tooltip>
                    <svg>
                      <use xlink:href="img/sprite.svg#tooltip-info"></use>
                    </svg>
                  </button>
                  <span class="tooltip__txt" role="tooltip" id="wcag-info">
                    <span class="visually-hidden">Тултип: </span>
                    <span class="tooltip__content">
                      Руководство по обеспечению доступности веб-контента
                    </span>
                  </span>
                </span>
              </h2>
              <div class="skills-list__value">60</div>
            </div>
            <div class="skills-list__bar">
              <span class="skills-list__bar-content" data-bar></span>
            </div>
          </div>
        </li>
        <li class="skills-list__card" data-skill>
          <img class="skills-list__img" loading="lazy" src="img/skills/wp-logo.svg" width="60" height="60" alt="Логотип WordPress">
          <div class="skills-list__content">
            <div class="skills-list__text">
              <h2 class="skills-list__title">WordPress</h2>
              <div class="skills-list__value">50</div>
            </div>
            <div class="skills-list__bar">
              <span class="skills-list__bar-content" data-bar></span>
            </div>
          </div>
        </li>
        <li class="skills-list__card" data-skill>
          <img class="skills-list__img" loading="lazy" src="img/skills/php-logo.svg" width="60" height="60" alt="Логотип PHP">
          <div class="skills-list__content">
            <div class="skills-list__text">
              <h2 class="skills-list__title">PHP</h2>
              <div class="skills-list__value">40</div>
            </div>
            <div class="skills-list__bar">
              <span class="skills-list__bar-content" data-bar></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
