<section class="about-work">
  <div class="about-work__mockup">
    <div class="container">
      <picture>
        <source srcset="img/about-work/about-work-mockup.avif" type="image/avif">
        <source srcset="img/about-work/about-work-mockup.webp" type="image/webp">
        <img class="about-work__mockup-img" loading="lazy" src="img/about-work/about-work-mockup.png" width="1100" height="704" alt="Демонстрация сайта на разных разрешениях, на телефоне и компьютере">
      </picture>
    </div>
  </div>
  <div class="work-info">
    <div class="container container--smaller work-info__content">
      <div class="work-info__text">
        <h2 class="work-info__title work-info__title--not-descr">Идея</h2>
      </div>
      <div class="work-info__text">
        <h2 class="work-info__title">Роль</h2>
        <p class="work-info__descr">
          UI design / Coding
        </p>
      </div>
      <div class="work-info__text">
        <h2 class="work-info__title">Подробно</h2>
        <p class="work-info__descr">
          Мы создали сайт, который поможет людям освободиться от кредита совместными усилиями
        </p>
      </div>
    </div>
    <div class="work-info__counter"></div>
  </div>
  <div class="about-work__demo">
    <div class="container container--smaller about-work__demo-content">
      <picture>
        <source srcset="img/about-work/about-work-demo-1.avif" type="image/avif">
        <source srcset="img/about-work/about-work-demo-1.webp" type="image/webp">
        <img class="about-work__img" loading="lazy" src="img/about-work/about-work-demo-1.jpg" width="650" height="1518" alt="Полная демонстрация сайта, главная страница">
      </picture>
      <picture>
        <source srcset="img/about-work/about-work-demo-2.avif" type="image/avif">
        <source srcset="img/about-work/about-work-demo-2.webp" type="image/webp">
        <img class="about-work__img" loading="lazy" src="img/about-work/about-work-demo-2.jpg" width="650" height="1144" alt="Полная демонстрация сайта, страница - обращения">
      </picture>
    </div>
  </div>
  <div class="work-info">
    <div class="container container--smaller work-info__content">
      <div class="work-info__text work-info__text--not-descr">
        <h2 class="work-info__title work-info__title--not-descr">Разработка</h2>
      </div>
      <div class="work-info__text work-info__text--bigger">
        <p class="work-info__descr">
          Для того чтобы не изобретать колесо с нуля я использую несколько плагинов для работы, например один из них это “JustValidate” для валидации формы. Функционал сайта написан на чистом JS. Используется динамическое добавление обращений из базы данных, используя AJAX, также есть код для кнопки - “Показать больше” если количество обращений больше пяти.
        </p>
      </div>
    </div>
    <div class="work-info__counter"></div>
  </div>
</section>
