<section class="about-info">
  <div class="work-info about-info__content">
    <div class="container container--smaller work-info__content">
      <div class="work-info__text">
        <h2 class="work-info__title work-info__title--not-descr">Я</h2>
      </div>
      <div class="work-info__text about-info__text">
        <h2 class="work-info__title">Максим Марьин</h2>
        <p class="work-info__descr about-info__descr">
          2004 года рождения, город Томск. Свой путь в IT начал в 2019 году и по сей день продолжаю прокачивать свои навыки, заметил что при сложных условиях в работе мне легко адаптироваться и мое развитие идет быстрее. На данный момент активно изучаю английский язык
        </p>
        <picture>
          <source srcset="img/about-me/about-me-img.avif" type="image/avif">
          <source srcset="img/about-me/about-me-img.webp" type="image/webp">
          <img loading="lazy" src="img/about-me/about-me-img.jpg" class="image" width="650" height="610" alt="Человек, имя которого - Максим, стоит оперев руки на стул">
        </picture>
      </div>
    </div>
    <div class="work-info__counter"></div>
  </div>
  <div class="work-info about-info__content">
    <div class="container container--smaller work-info__content">
      <div class="work-info__text">
        <h2 class="work-info__title work-info__title--not-descr">Мои навыки</h2>
      </div>
    </div>
    <div class="work-info__counter"></div>
  </div>
  <div class="about-info__skills">
    <div class="container container--smaller">
      <div class="about-info__skills-content">
        <div class="skill-card" data-card>
          <div class="skill-card__text">
            <div class="skill-card__img-wrapper">
              <img class="skill-card__img" loading="lazy" src="img/skills/figma-logo.svg" width="53" height="80" alt="Логотип Figma">
            </div>
            <h2 class="skill-card__title">Figma</h2>
            <div class="skill-card__value skill-card__value--red" data-percent>80</div>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#072142" stroke-width="15" data-circleBg />
            </svg>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#ff4d5a" stroke-width="15" data-circle />
            </svg>
          </div>
        </div>
        <div class="skill-card" data-card>
          <div class="skill-card__text">
            <div class="skill-card__img-wrapper">
              <img class="skill-card__img" loading="lazy" src="img/skills/html-css-logo.svg" width="80" height="72" alt="Логотип HTML/CSS">
            </div>
            <h2 class="skill-card__title">HTML/CSS</h2>
            <div class="skill-card__value skill-card__value--red" data-percent>80</div>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#072142" stroke-width="15" data-circleBg />
            </svg>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#ff4d5a" stroke-width="15" data-circle />
            </svg>
          </div>
        </div>
        <div class="skill-card" data-card>
          <div class="skill-card__text">
            <div class="skill-card__img-wrapper">
              <img class="skill-card__img" loading="lazy" src="img/skills/sass-logo.svg" width="80" height="60" alt="Логотип Sass">
            </div>
            <h2 class="skill-card__title">Sass</h2>
            <div class="skill-card__value skill-card__value--red" data-percent>80</div>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#072142" stroke-width="15" data-circleBg />
            </svg>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#ff4d5a" stroke-width="15" data-circle />
            </svg>
          </div>
        </div>
        <div class="skill-card" data-card>
          <div class="skill-card__text">
            <div class="skill-card__img-wrapper">
              <img class="skill-card__img" loading="lazy" src="img/skills/git-logo.svg" width="80" height="80" alt="Логотип Git">
            </div>
            <h2 class="skill-card__title">Git</h2>
            <div class="skill-card__value" data-percent>70</div>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#072142" stroke-width="15" data-circleBg />
            </svg>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#ff4d5a" stroke-width="15" data-circle />
            </svg>
          </div>
        </div>
        <div class="skill-card" data-card>
          <div class="skill-card__text">
            <div class="skill-card__img-wrapper">
              <img class="skill-card__img" loading="lazy" src="img/skills/photoshop-logo.svg" width="80" height="80" alt="Логотип Photoshop">
            </div>
            <h2 class="skill-card__title">Photoshop</h2>
            <div class="skill-card__value" data-percent>60</div>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#072142" stroke-width="15" data-circleBg />
            </svg>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#ff4d5a" stroke-width="15" data-circle />
            </svg>
          </div>
        </div>
        <div class="skill-card" data-card>
          <div class="skill-card__text">
            <div class="skill-card__img-wrapper">
              <img class="skill-card__img" loading="lazy" src="img/skills/js-logo.svg" width="80" height="80" alt="Логотип JavaScript">
            </div>
            <h2 class="skill-card__title">JavaScript</h2>
            <div class="skill-card__value" data-percent>60</div>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#072142" stroke-width="15" data-circleBg />
            </svg>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#ff4d5a" stroke-width="15" data-circle />
            </svg>
          </div>
        </div>
        <div class="skill-card" data-card>
          <div class="skill-card__text">
            <div class="skill-card__img-wrapper">
              <img class="skill-card__img" loading="lazy" src="img/skills/w3c-logo.svg" width="80" height="80" alt="Логотип WCAG">
            </div>
            <h2 class="skill-card__title">WCAG</h2>
            <div class="skill-card__value" data-percent>60</div>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#072142" stroke-width="15" data-circleBg />
            </svg>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#ff4d5a" stroke-width="15" data-circle />
            </svg>
          </div>
        </div>
        <div class="skill-card" data-card>
          <div class="skill-card__text">
            <div class="skill-card__img-wrapper">
              <img class="skill-card__img" loading="lazy" src="img/skills/wp-logo.svg" width="80" height="80" alt="Логотип WordPress">
            </div>
            <h2 class="skill-card__title">WordPress</h2>
            <div class="skill-card__value" data-percent>50</div>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#072142" stroke-width="15" data-circleBg />
            </svg>
          </div>
          <div class="skill-card__circle">
            <svg class="skill-card__svg">
              <circle cx="50%" cy="50%" fill="transparent" stroke="#ff4d5a" stroke-width="15" data-circle />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
