<div class="stars-wrapper">
  <div class="js-parallax">
    <img class="stars" src="img/stars-bg.svg" alt="" aria-hidden="true" data-depth="0.2">
  </div>
</div>
<div class="moon-bg-wrapper">
  <div class="js-parallax">
    <div class="moon-bg" data-depth="0.25"></div>
  </div>
</div>

<div class="pagination">
  <a class="pagination__link pagination__link--active" href="#home" aria-label="Перейти на главную страницу"></a>
  <a class="pagination__link" href="#works" aria-label="Перейти на страницу - 'Мои работы'"></a>
  <a class="pagination__link" href="#fordex-proj" aria-label="Перейти на страницу - 'Проект Fordex'"></a>
  <a class="pagination__link" href="#joby-proj" aria-label="Перейти на страницу - 'Проект JOBY'"></a>
  <a class="pagination__link" href="#about" aria-label="Перейти на страницу - 'Про меня'"></a>
  <a class="pagination__link" href="#contacts" aria-label="Перейти на страницу - 'Связь со мной'"></a>
</div>
