<img class="stars" src="img/stars-bg.svg" alt="" aria-hidden="true">
<div class="moon-bg"></div>

<div class="pagination">
  <a class="pagination__link pagination__link--active" href="#" aria-label="Перейти на главную страницу"></a>
  <a class="pagination__link" href="#" aria-label="Перейти на страницу работ"></a>
  <a class="pagination__link" href="#" aria-label="Перейти на страницу про меня"></a>
  <a class="pagination__link" href="#" aria-label="Перейти на страницу связь со мной"></a>
</div>
