<section class="section-default contacts" data-anchor="contacts">
  <div class="contacts__text" data-text>
    <h2 class="title contacts__title anim anim--left" style="--delay: 100ms;">Связь <br> со мной</h2>
    <div class="descr contacts__descr anim anim--left" style="--delay: 300ms;">
      <a class="contacts__link" href="mailto:marinmaxim9v@gmail.com" aria-label="Моя почта - marinmaxim9v@gmail.com">marinmaxim9v@gmail.com</a>
    </div>
    <ul class="list-reset social anim anim--left" title="Связаться со мной" style="--delay: 400ms;">
      <li class="social__item">
        <a class="icon social__link" href="https://t.me/IPMARIN_Admin" target="_blank" aria-label="Мой аккаунт в Телеграме">
          <svg>
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="icon social__link" href="https://vk.com/maxxutko" target="_blank" aria-label="Мой аккаунт ВКонтакте">
          <svg>
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div class="illustration contacts__illustration" data-text>
    <div class="js-parallax">
      <div class="contacts__content-wrapper" data-depth="0.3">
        <div class="contacts__illustration-content anim anim--right" style="--delay: 400ms;"></div>
      </div>
    </div>
  </div>
</section>
