<header class="header fixed-block">
  <div class="container header__content">
    <a class="header__main" href="/">Главная</a>

    <div class="header__icons">
      <ul class="list-reset social header__social" title="Связаться со мной">
        <li class="social__item">
          <a class="icon social__link" href="https://t.me/IPMARIN_Admin" target="_blank" aria-label="Мой аккаунт в Телеграме">
            <svg>
              <use xlink:href="img/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="icon social__link" href="https://vk.com/maxxutko" target="_blank" aria-label="Мой аккаунт ВКонтакте">
            <svg>
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
  <div class="burger-menu" data-menu>
    <nav class="nav burger-menu__nav" title="Главная навигация сайта">
      <ul class="list-reset nav__list nav__list--column">
        <li class="nav__item burger-menu__item">
          <a class="nav__link burger-menu__link" href="@home" data-menu-item>
            <span class="burger-menu__link-inside">
              <span class="burger-menu__link-content">Г</span>
              <span class="burger-menu__link-content">л</span>
              <span class="burger-menu__link-content">а</span>
              <span class="burger-menu__link-content">в</span>
              <span class="burger-menu__link-content">н</span>
              <span class="burger-menu__link-content">а</span>
              <span class="burger-menu__link-content">я</span>
            </span>
          </a>
        </li>
        <li class="nav__item burger-menu__item">
          <a class="nav__link burger-menu__link" href="@works" data-menu-item>
            <span class="burger-menu__link-inside">
              <span class="burger-menu__link-content">М</span>
              <span class="burger-menu__link-content">о</span>
              <span class="burger-menu__link-content burger-menu__link-content--space">и</span>
              <span class="burger-menu__link-content">р</span>
              <span class="burger-menu__link-content">а</span>
              <span class="burger-menu__link-content">б</span>
              <span class="burger-menu__link-content">о</span>
              <span class="burger-menu__link-content">т</span>
              <span class="burger-menu__link-content">ы</span>
            </span>
          </a>
        </li>
        <li class="nav__item burger-menu__item">
          <a class="nav__link burger-menu__link" href="@about" data-menu-item>
            <span class="burger-menu__link-inside">
              <span class="burger-menu__link-content">П</span>
              <span class="burger-menu__link-content">р</span>
              <span class="burger-menu__link-content burger-menu__link-content--space">о</span>
              <span class="burger-menu__link-content">м</span>
              <span class="burger-menu__link-content">е</span>
              <span class="burger-menu__link-content">н</span>
              <span class="burger-menu__link-content">я</span>
            </span>
          </a>
        </li>
        <li class="nav__item burger-menu__item">
          <a class="nav__link burger-menu__link" href="@contacts" data-menu-item>
            <span class="burger-menu__link-inside">
              <span class="burger-menu__link-content">К</span>
              <span class="burger-menu__link-content">о</span>
              <span class="burger-menu__link-content">н</span>
              <span class="burger-menu__link-content">т</span>
              <span class="burger-menu__link-content">а</span>
              <span class="burger-menu__link-content">к</span>
              <span class="burger-menu__link-content">т</span>
              <span class="burger-menu__link-content">ы</span>
            </span>
          </a>
        </li>
      </ul>
    </nav>
    <ul class="list-reset social burger-menu__social" title="Связаться со мной">
      <li class="social__item">
        <a class="icon social__link burger-menu__icon" href="https://t.me/IPMARIN_Admin" target="_blank" aria-label="Мой аккаунт в Телеграме">
          <svg>
            <use xlink:href="img/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social__item">
        <a class="icon social__link burger-menu__icon" href="https://vk.com/maxxutko" target="_blank" aria-label="Мой аккаунт ВКонтакте">
          <svg>
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
