<section class="section-default home" data-anchor="home">
  <h1 class="visually-hidden">Максим Марьин - Дизайнер / Веб-разработчик</h1>
  <div class="home__text" data-text>
    <h2 class="title home__title anim anim--left" style="--delay: 100ms;">Максим <br> Марьин</h2>
    <div class="descr home__descr anim anim--left" style="--delay: 300ms;">
      дизайнер / <br> веб-разработчик
    </div>
  </div>
  <div class="illustration home__illustration" data-text>
    <div class="js-parallax">
      <div class="home__moon-wrapper" data-depth="0.2">
        <div class="home__moon anim anim--right" style="--delay: 500ms;"></div>
      </div>
    </div>
    <div class="home__img-wrapper">
      <div class="js-parallax">
        <div class="home__moon-content" data-depth="0.25">
          <svg class="anim anim--opacity" style="--delay: 1200ms;">
            <use xlink:href="img/sprite.svg#max" fill="url(#moon-gradient)"></use>
            <defs>
              <linearGradient id="moon-gradient" x1="257.991" y1="132.254" x2="257.991" y2="561.92" gradientUnits="userSpaceOnUse">
              <stop stop-color="#04112F"/>
              <stop offset="1" stop-color="#051A5E"/>
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
    </div>
    <div class="home__cloud-wrapper home__cloud-wrapper--1">
      <div class="js-parallax">
        <div class="home__cloud" data-depth="0.2">
          <svg class="anim anim--right" style="--delay: 700ms;">
            <use xlink:href="img/sprite.svg#cloud"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="home__cloud-wrapper home__cloud-wrapper--2">
      <div class="js-parallax">
        <div class="home__cloud" data-depth="0.3">
          <svg class="anim anim--right" style="--delay: 900ms;">
            <use xlink:href="img/sprite.svg#cloud"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="home__cloud-wrapper home__cloud-wrapper--3">
      <div class="js-parallax">
        <div class="home__cloud" data-depth="0.4">
          <svg class="anim anim--right" style="--delay: 1100ms;">
            <use xlink:href="img/sprite.svg#cloud"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="title-absolute" data-text>
    <div class="js-parallax">
      <h3 class="home__subtitle" data-depth="0.15">
        <span class="title-absolute__text home__subtitle-content anim anim--bottom" style="--delay: 600ms;">Портфолио</span>
      </h3>
    </div>
  </div>
</section>
