<section class="works">
  <div class="container section-default">
    <div class="works__text">
      <h2 class="title works__title">Погашение кредита</h2>
      <div class="descr works__descr">
        веб-сайт / <br> IPMARIN - Взаимная поддержка
      </div>
      <button class="btn-reset btn works__btn">Подробнее</button>
    </div>
    <div class="illustration works__illustration">
      <div class="works__img works__img--white">
        <svg>
          <use xlink:href="img/sprite.svg#work-1"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
