<section class="section-default works" data-anchor="works">
  <div class="works__text" data-text>
    <h2 class="title works__title anim anim--left" style="--delay: 100ms;">Проект "IPMARIN"</h2>
    <div class="descr works__descr anim anim--left" style="--delay: 300ms;">
      веб-сайт / <br> IPMARIN - Взаимная поддержка, погашение кредита
    </div>
    <a class="link works__link anim anim--left" href="works.html" aria-label="Прочитать подробнее об этой работе" style="--delay: 550ms;">Подробнее</a>
  </div>
  <div class="illustration works__illustration" data-text>
    <div class="works__img anim anim--right" style="--delay: 400ms;">
      <svg>
        <use xlink:href="img/sprite.svg#work-1"></use>
      </svg>
    </div>
  </div>
  <div class="title-absolute" data-text>
    <div class="title-absolute__text title-absolute__text--number anim anim--bottom" style="--delay: 400ms;" data-counter></div>
  </div>
</section>

<section class="section-default works" data-anchor="fordex-proj">
  <div class="works__text" data-text>
    <h2 class="title works__title anim anim--left" style="--delay: 100ms;">Проект "Fordex"</h2>
    <div class="descr works__descr anim anim--left" style="--delay: 300ms;">
      веб-сайт / <br> Fordex - Легкая организация транспортных процессов
    </div>
    <a class="link works__link anim anim--left" href="http://fordexs.com/" target="_blank" aria-label="Прочитать подробнее об этой работе" style="--delay: 550ms;">Перейти на сайт</a>
  </div>
  <div class="illustration works__illustration works__illustration--smaller" data-text>
    <div class="works__img anim anim--right" style="--delay: 400ms;">
      <img loading="lazy" src="img/works/fordex-proj-logo.svg" class="image" width="600" alt="Логотип проекта Fordex">
    </div>
  </div>
  <div class="title-absolute" data-text>
    <div class="title-absolute__text title-absolute__text--number anim anim--bottom" style="--delay: 400ms;" data-counter></div>
  </div>
</section>

<section class="section-default works" data-anchor="joby-proj">
  <div class="works__text" data-text>
    <h2 class="title works__title anim anim--left" style="--delay: 100ms;">Проект "JOBY"</h2>
    <div class="descr works__descr anim anim--left" style="--delay: 300ms;">
      веб-приложение / <br> JOBY — Интерактивная карта заказов мастеров
    </div>
    <a class="link works__link anim anim--left" href="https://joby-work.ru/" target="_blank" aria-label="Прочитать подробнее об этой работе" style="--delay: 550ms;">Перейти на сайт</a>
  </div>
  <div class="illustration works__illustration works__illustration--smaller" data-text>
    <div class="works__img anim anim--right" style="--delay: 400ms;">
      <img loading="lazy" src="img/works/joby-proj-logo.svg" class="image" width="550" alt="Логотип проекта JOBY">
    </div>
  </div>
  <div class="title-absolute" data-text>
    <div class="title-absolute__text title-absolute__text--number anim anim--bottom" style="--delay: 400ms;" data-counter></div>
  </div>
</section>
