<section class="works works-detail">
  <div class="container section-default works-detail__content">
    <div class="works__text">
      <h2 class="title works__title">Проект "IPMARIN"</h2>
      <div class="descr works__descr">
        веб-сайт / <br> IPMARIN - Взаимная поддержка, погашение кредита
      </div>
    </div>
    <div class="illustration works__illustration">
      <div class="works__img works__img--dark">
        <svg>
          <use xlink:href="img/sprite.svg#work-1"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
