<section class="section-default works" data-anchor="works">
  <div class="works__text" data-text>
    <h2 class="title works__title anim anim--left" style="--delay: 100ms;">Погашение <br> кредита</h2>
    <div class="descr works__descr anim anim--left" style="--delay: 300ms;">
      веб-сайт / <br> IPMARIN - Взаимная поддержка
    </div>
    <a class="btn works__link anim anim--left" href="works.html" style="--delay: 550ms;">Подробнее</a>
  </div>
  <div class="illustration works__illustration" data-text>
    <div class="works__img anim anim--right" style="--delay: 400ms;">
      <svg>
        <use xlink:href="img/sprite.svg#work-1"></use>
      </svg>
    </div>
  </div>
  <div class="title-absolute" data-text>
    <h3 class="title-absolute__text title-absolute__text--number anim anim--bottom" style="--delay: 400ms;"></h3>
  </div>
</section>
