@media (hover: hover) and (pointer: fine) {
  .icon {
    &:hover {
      color: rgba(var(--header-color) / 60%);
      transition-delay: 1s;
      animation: tada 1s;
    }
  }

  .burger {
    &-menu__link {
      &:hover,
      &:focus {
        &::before,
        &::after {
          transform: translateX(0);
        }
      }
    }

    &-menu__link-content {
      &:hover {
        transform: scaleY(1.2);
      }
    }

    &:hover {
      color: rgba(var(--header-color) / 60%);
      transition-delay: 1s;
      animation: rubberBand 1s;
    }
  }

  .header {
    &__main {
      &:hover {
        color: rgba(var(--header-color) / 60%);
      }
    }
  }

  .sticky-arrow__link {
    &:hover {
      color: rgba(var(--header-color) / 60%);
      transform: translateX(-5px);
      transition-delay: 600ms;

      &::before {
        transform: translateY(-50%) rotate(45deg);
      }

      &::after {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }

  .arrow-up {
    &:hover {
      &::before {
        transform: translateY(-50%) translateX(-10px) rotate(-45deg);
      }

      &::after {
        transform: translateY(-50%) translateX(-10px);
      }
    }
  }

  .tooltip {
    &__btn {
      &:hover,
      &:focus {
        outline: 1px solid var(--main-color);
        color: var(--main-color);

        + .tooltip__txt {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .pagination__link {
    &:hover {
      background-color: var(--main-color);
    }
  }

  .btn {
    &:hover {
      color: var(--main-color);
      background-color: var(--light-color);
    }
  }

  .contacts__link {
    &:hover {
      color: rgb(255 255 255 / 60%);
    }
  }
}
