@media (hover: hover) and (pointer: fine) {
  .icon {
    &:hover {
      color: rgb(255 255 255 / 60%);
      transition-delay: 1000ms;
      animation: tada 1000ms;
    }
  }

  .burger {
    &-menu__link {
      &:hover,
      &:focus {
        &::before,
        &::after {
          transform: translateX(0);
        }
      }
    }

    &-menu__link-content {
      &:hover {
        transform: scaleY(1.2);
      }
    }

    &:hover {
      color: rgb(255 255 255 / 60%);
      transition-delay: 1000ms;
      animation: rubberBand 1000ms;
    }
  }

  .header {
    &__main {
      &:hover {
        color: rgb(255 255 255 / 60%);
      }
    }
  }
}
