@media (hover: hover) and (pointer: fine) {
  .icon {
    &:hover {
      color: rgba(var(--header-color) / 60%);
      transition-delay: 1s;
      animation: tada 1s;
    }
  }

  .burger {
    &-menu__link {
      &:hover,
      &:focus {
        &::before,
        &::after {
          transform: translateX(0);
        }
      }
    }

    &-menu__link-content {
      &:hover {
        transform: scaleY(1.2);
      }
    }

    &:hover {
      color: rgba(var(--header-color) / 60%);
      transition-delay: 1s;
      animation: rubberBand 1s;
    }
  }

  .header {
    &__main {
      &:hover {
        color: rgba(var(--header-color) / 60%);
      }
    }
  }

  .sticky-arrow__link {
    &:hover {
      color: rgba(var(--header-color) / 60%);
      transform: translateX(-5px);
      transition-delay: 600ms;

      &::before {
        transform: translateY(-50%) rotate(45deg);
      }

      &::after {
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }

  .arrow-up {
    &:hover {
      &::before {
        transform: translateY(-50%) translateX(-10px) rotate(-45deg);
      }

      &::after {
        transform: translateY(-50%) translateX(-10px);
      }
    }
  }

  .tooltip {
    &__btn {
      &:hover,
      &:focus {
        outline: 1px solid var(--main-color);
        color: var(--main-color);

        + .tooltip__txt {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  .pagination__link {
    &:hover {
      background-color: var(--main-color);
    }
  }

  .btn {
    &:hover {
      color: var(--main-color);
      background-color: var(--light-color);
    }
  }

  .contacts__link {
    &:hover {
      color: rgba(255 255 255 / 60%);
    }
  }
}

@media (max-width: 1399.98px) {
  .section-default {
    padding-left: 100px;
  }

  .home {
    &__moon {
      width: 530px;
      height: 530px;
    }

    &__moon-content {
      width: 260px;
      height: 421px;
    }

    &__cloud {
      width: 400px;
      height: 243px;
    }
  }

  .moon-bg {
    width: 500px;
    height: 500px;
  }

  .title {
    font-size: 80px;
  }

  .title-absolute__text {
    font-size: 58px;

    &--number {
      font-size: 70px;
    }
  }

  .descr {
    font-size: 23px;
  }

  .works {
    &__illustration {
      right: 6%;
      width: 590px;
      height: 241px;
    }
  }

  .about {
    &__illustration {
      width: 160px;
      height: 717px;
    }

    &__img {
      &--spiderman-body {
        top: -72px;
      }

      &--mask {
        bottom: 128px;
        width: 141px;
        height: 54px;
      }

      &--eye-1,
      &--eye-2 {
        width: 58px;
        height: 61px;
      }

      &--eye-closed-1,
      &--eye-closed-2 {
        width: 55px;
        height: 21px;
      }

      &--mouth {
        bottom: 156px;
      }

      &--mouth-open {
        bottom: 148px;
      }

      &--lang-wrapper {
        bottom: 165px;
      }

      &--message {
        span {
          font-size: 20px;
        }
      }

      &--emotion {
        bottom: -30px;

        &::before,
        span,
        &::after {
          border-width: 0 10px 25px;
        }
      }

      &--sleep-wrapper {
        left: -25px;
        bottom: -30px;
        width: 40px;
        height: 55px;
      }

      &--sleep-1,
      &--sleep-2 {
        font-size: 20px;
      }
    }
  }

  .contacts {
    &__illustration-content {
      width: 510px;
      height: 510px;
    }
  }

  .footer {
    padding: 100px 0;

    &-main__up {
      font-size: 45px;
    }
  }

  .about-work {
    &__mockup-img {
      width: 900px;
    }

    &__img {
      width: 550px;
    }

    &__mockup,
    &__demo {
      padding: 50px 0;
    }
  }

  .work-info {
    &__title {
      font-size: 35px;
    }

    &__descr {
      font-size: 20px;
    }
  }

  .about-info {
    padding: 20px 0 0;

    &__img {
      width: 450px;
    }
  }
}

@media (max-width: 1199.98px) {
  .title {
    margin-bottom: 30px;
    font-size: 70px;

    &::after {
      bottom: -15px;
    }
  }

  .descr {
    font-size: 21px;
  }

  .home {
    &__moon {
      width: 480px;
      height: 480px;
    }

    &__moon-content {
      width: 235px;
      height: 380px;
    }

    &__cloud {
      width: 360px;
      height: 218px;
    }
  }

  .moon-bg {
    width: 440px;
    height: 440px;
  }

  .works__descr,
  .about__descr,
  .contacts__descr {
    margin-bottom: 15px;
  }

  .title-absolute__text {
    font-size: 50px;

    &--number {
      font-size: 65px;
    }
  }

  .works__illustration {
    right: 4%;
    width: 550px;
    height: 223px;
  }

  .contacts__illustration-content {
    width: 460px;
    height: 460px;
  }

  .about-work {
    &__mockup-img {
      width: 750px;
    }

    &__img {
      width: 460px;
    }
  }

  .work-info {
    padding: 30px 120px;

    &__counter {
      top: 30px;

      &::before {
        margin-right: 12px;
        width: 50px;
      }

      &::after {
        font-size: 32px;
        line-height: 32px;
      }
    }

    &__text {
      &:not(:last-child) {
        margin-right: 70px;
      }
    }

    &__title {
      font-size: 32px;
    }

    &__descr {
      font-size: 18px;
    }
  }

  .about-info {
    &__text {
      text-align: right;
    }
  }

  .skills-list {
    &__card {
      --margin: 50px;
      --elements: 2;

      &:not(:nth-child(3n)) {
        margin-right: initial;
      }

      &:not(:nth-child(2n)) {
        margin-right: var(--margin);
      }
    }
  }

  .burger-menu__link {
    font-size: 50px;
  }
}

@media (max-width: 991.98px) {
  .stars-wrapper {
    width: 900px;
  }

  .section-default {
    padding-left: 90px;
  }

  .title {
    font-size: 50px;
    line-height: 80px;
  }

  .descr {
    font-size: 18px;
  }

  .home {
    &__moon {
      width: 400px;
      height: 400px;
    }

    &__moon-content {
      width: 200px;
      height: 323px;
    }

    &__cloud {
      width: 310px;
      height: 188px;
    }
  }

  .moon-bg {
    width: 360px;
    height: 360px;
  }

  .illustration {
    right: 5%;
  }

  .title-absolute__text {
    font-size: 40px;

    &--number {
      font-size: 55px;
    }
  }

  .works__illustration {
    right: 3%;
    width: 450px;
    height: 184px;
  }

  .btn {
    font-size: 20px;
  }

  .contacts__illustration-content {
    width: 380px;
    height: 380px;
  }

  .footer-main__up {
    font-size: 35px;
  }

  .work-info {
    padding: 30px 90px;

    &__title {
      font-size: 28px;
    }

    &__counter {
      &::before {
        margin-right: 10px;
        width: 30px;
      }

      &::after {
        font-size: 28px;
        line-height: 28px;
      }
    }

    &__descr {
      font-size: 16px;
    }
  }

  .about-work {
    &__mockup-img {
      width: 630px;
    }

    &__img {
      width: 350px;
    }
  }

  .arrow-up {
    font-size: 32px;
  }

  .about-info {
    &__img {
      width: 400px;
    }
  }

  .skills-list {
    &__img {
      width: 45px;
    }

    &__title {
      font-size: 21px;
      line-height: 21px;
    }
  }

  .tooltip {
    width: 23px;
    height: 23px;

    &__btn {
      svg {
        width: 3px;
      }
    }

    &__content {
      font-size: 20px;
    }
  }
}

@media (max-width: 767.98px) {
  .header {
    padding: 25px 0;

    &__main {
      font-size: 21px;
    }
  }

  .icon {
    width: 28px;
    height: 28px;
  }

  .burger {
    --burger-height: 18px;
  }

  .pagination {
    left: 50%;
    top: initial;
    bottom: 30px;
    flex-direction: row;
    width: auto;
    transform: translateX(-50%);

    &__link {
      width: 16px;
      height: 16px;

      &:not(:last-child) {
        @include mr(35px);

        margin-bottom: initial;
      }

      &--active {
        transform: scale(1.8);
      }
    }
  }

  .section-default {
    padding-left: 0;
  }

  .home {
    &__moon {
      width: 350px;
      height: 350px;
    }

    &__moon-content {
      width: 160px;
      height: 259px;
    }

    &__cloud {
      width: 250px;
      height: 151px;
    }
  }

  .moon-bg {
    width: 260px;
    height: 260px;
  }

  .illustration {
    right: 0;
  }

  .title-absolute__text {
    font-size: 35px;

    &--number {
      font-size: 45px;
    }
  }

  .works__illustration {
    width: 400px;
    height: 163px;
  }

  .works-detail__content,
  .about-me__content {
    padding-left: 80px;
  }

  .about__illustration {
    right: 5%;
  }

  .contacts__illustration-content {
    width: 310px;
    height: 310px;
  }

  .sticky-arrow__link {
    width: 50px;
    height: 35px;
  }

  .about-work {
    &__mockup-img {
      width: 500px;
    }

    &__img {
      width: 260px;
    }
  }

  .work-info {
    padding: 65px 0 30px;

    &__counter {
      top: 15px;
    }

    &__text {
      &:not(:last-child) {
        margin-right: 50px;
      }
    }

    &__title {
      font-size: 26px;
    }

    &__descr {
      font-size: 15px;
    }
  }

  .about-info {
    &__img {
      width: 350px;
    }
  }

  .skills-list {
    &__img {
      margin-right: 10px;
      width: 40px;
    }

    &__card {
      --margin: 30px;
    }

    &__title {
      font-size: 18px;
      line-height: 18px;
    }

    &__value {
      font-size: 18px;

      &::after {
        font-size: 14px;
      }
    }
  }

  .footer {
    padding: 50px 0 80px;
  }
}

@media (max-width: 575.98px) {
  .header {
    &__main {
      font-size: 19px;
    }
  }

  .social {
    display: none;
  }

  .burger {
    --burger-width: 40px;

    &-menu {
      flex-direction: column;

      &__link {
        font-size: 30px;
      }

      &__nav {
        margin-bottom: 30px;
      }

      &__social {
        display: flex;
        margin-right: 0;
        opacity: 0;
        visibility: hidden;
        transition:
          opacity 0.5s ease-in-out,
          visibility 0.5s ease-in-out;

        &--active {
          opacity: 1;
          visibility: visible;
          transition-delay: 1.2s;
        }
      }
    }
  }

  .title {
    font-size: 38px;
    line-height: 60px;

    &::after {
      height: 3px;
    }
  }

  .descr {
    font-size: 15px;
  }

  .home {
    &__moon {
      width: 280px;
      height: 280px;
    }

    &__moon-content {
      width: 130px;
      height: 210px;
    }

    &__cloud {
      width: 200px;
      height: 121px;

      &-wrapper--2 {
        right: 48px;
        top: -70px;
      }
    }
  }

  .moon-bg-wrapper,
  .illustration,
  .stars-wrapper {
    right: 50%;
    top: 100px;
    transform: translateX(50%);
  }

  .stars-wrapper {
    top: 50px;
    width: 600px;
  }

  .moon-bg-wrapper--hidden {
    transform: translateX(50%) scale(0);
  }

  .moon-bg {
    width: 250px;
    height: 250px;
    box-shadow:
      0 0 0 250px rgba(237 244 250 / 5%),
      0 0 0 200px rgba(237 244 250 / 5%),
      0 0 0 150px rgba(237 244 250 / 5%),
      0 0 0 100px rgba(237 244 250 / 5%),
      0 0 0 50px rgba(237 244 250 / 5%);
  }

  .section-default {
    align-items: flex-end;
    padding-bottom: 150px;
  }

  .pagination {
    &__link {
      width: 13px;
      height: 13px;
    }
  }

  .title-absolute {
    bottom: 35px;

    &__text {
      font-size: 30px;

      &--number {
        font-size: 35px;
      }
    }
  }

  .works__illustration {
    width: 280px;
    height: 114px;
  }

  .btn {
    font-size: 15px;
  }

  .about {
    &__illustration {
      right: 50%;
      top: -80px;
      width: 110px;
      height: 493px;
      transform: translateY(-100%) translateX(50%);
    }

    &__img {
      &--spiderman-body {
        top: -4px;
        width: 80px;
      }

      &--spiderman-head {
        bottom: -36px;
      }

      &--mask {
        bottom: 45px;
        width: 97px;
        height: 37px;
      }

      &--eye-1 {
        left: 8px;
      }

      &--eye-2 {
        right: 8px;
      }

      &--eye-1,
      &--eye-2 {
        bottom: 0;
        width: 40px;
        height: 42px;
      }

      &--eye-closed-1,
      &--eye-closed-2 {
        bottom: 15px;
        width: 35px;
        height: 14px;
      }

      &--mouth {
        bottom: 65px;
        width: 40px;
        height: 7px;
      }

      &--mouth-open {
        bottom: 60px;
        width: 14px;
        height: 14px;
      }

      &--lang-wrapper {
        bottom: 71px;
        width: 13px;
        height: 20px;
      }

      &--lang {
        width: 100%;
        height: 100%;
      }

      &--message {
        left: -40px;
        bottom: 48px;

        span {
          padding: 15px;
          font-size: 13px;
        }
      }

      &--emotion {
        bottom: -70px;

        &::before,
        span,
        &::after {
          border-width: 0 7px 18px;
        }
      }

      &--sleep-wrapper {
        left: -26px;
        bottom: -75px;
      }
    }
  }

  .arrow-up {
    padding-left: 60px;
    font-size: 25px;

    &::before {
      width: 17px;
    }

    &::after {
      width: 50px;
    }
  }

  .contacts__illustration-content {
    width: 230px;
    height: 230px;
  }

  .works-detail__content,
  .about-me__content {
    padding: 0 15px 150px;
  }

  .sticky-arrow__link {
    top: 80px;
  }

  .work-info {
    &__content {
      flex-direction: column;
    }

    &__text {
      text-align: center;

      &:not(:last-child) {
        margin: 0;
        margin-bottom: 30px;
      }

      &--not-descr {
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }

    &__title {
      margin-bottom: 5px;
      font-size: 23px;

      &--not-descr {
        margin-bottom: 0;
      }
    }

    &__descr {
      font-size: 13px;
      line-height: 30px;
    }
  }

  .about-work {
    &__demo-content {
      flex-direction: column;

      picture {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    &__img {
      display: block;
      width: 100%;
    }

    &__mockup,
    &__demo {
      padding: 30px 0;
    }
  }

  .about-info {
    padding: 0;

    &__skills {
      padding: 0;
    }
  }

  .skills-list {
    &__card {
      margin-bottom: 50px;
      width: 100%;

      &:not(:nth-child(2n)) {
        margin-right: 0;
      }
    }

    &__title {
      font-size: 15px;
      line-height: 15px;
    }

    &__value {
      font-size: 15px;

      &::after {
        font-size: 12px;
      }
    }
  }

  .tooltip {
    width: 17px;
    height: 17px;
  }

  @keyframes aboutIllistrationShow {
    from {
      transform: translateY(-100%) translateX(50%);
    }

    50% {
      transform: translateY(-15%) translateX(50%);
    }

    70% {
      transform: translateY(-40%) translateX(50%);
    }

    to {
      transform: translateY(-35%) translateX(50%);
    }
  }

  @keyframes aboutIllistrationDown {
    from {
      transform: translateY(-35%) translateX(50%);
    }

    to {
      transform: translateY(-25%) translateX(50%);
    }
  }
}
