html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  counter-reset: pagination;
  overflow: hidden;
  margin: 0;
  height: 100%;
  min-width: 320px;
  font-size: 16px;
  color: var(--light-color);
  background-image: linear-gradient(257.37deg, #173173 0%, rgb(23 49 115 / 1.56%) 99.99%, rgb(37 70 185 / 0%) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentcolor;
  object-fit: cover;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  &--full-height {
    height: 100vh;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.full-page {
  transform: translateY(-300vh);
}

.title {
  position: relative;
  margin: 0;
  font-weight: 500;
  font-size: 100px;
  line-height: 120px;
  letter-spacing: 0.1em;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    border-radius: 4px;
    width: 50%;
    height: 4px;
    background-color: var(--main-color);
  }
}

.title-absolute {
  position: absolute;
  left: 50%;
  bottom: 80px;
  z-index: -1;
  margin: 0;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-color);
  transform: translateX(-50%);
  pointer-events: none;

  &--number {
    font-size: 100px;
    color: var(--light-color);

    &:nth-child(-n + 9) {
      &::before {
        counter-increment: pagination;
        content: "0" counter(pagination);
      }
    }

    &:nth-child(n + 10) {
      &::before {
        counter-increment: pagination;
        content: counter(pagination);
      }
    }
  }
}

.descr {
  margin: 0;
  font-family: "MontserratAlternates", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
}

.stars {
  position: absolute;
  right: 15px;
  top: 50%;
  z-index: -2;
  width: 1300px;
  transform: translateY(-50%);
}

.moon-bg {
  position: absolute;
  right: 10%;
  top: 50%;
  z-index: -2;
  border-radius: 100%;
  width: 600px;
  height: 600px;
  box-shadow:
    0 0 0 400px rgb(237 244 250 / 5%),
    0 0 0 320px rgb(237 244 250 / 5%),
    0 0 0 240px rgb(237 244 250 / 5%),
    0 0 0 160px rgb(237 244 250 / 5%),
    0 0 0 80px rgb(237 244 250 / 5%);
  background-color: rgb(237 244 250 / 29%);
  transform: translateY(-50%);
}

.section-default {
  @include flex;

  position: relative;
  align-items: center;
  padding-left: 170px;
  height: 100vh;
}

.icon {
  display: block;
  width: 40px;
  height: 40px;
  color: var(--light-color);
  filter: drop-shadow(3px 3px 10px var(--dark-color));
}

.illustration {
  position: absolute;
  right: 8%;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
}
