html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  overflow: hidden;
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  height: 100%;
  min-width: 320px;
  font-size: 16px;
  color: var(--light-color);
  background-image: linear-gradient(257.37deg, #173173 0%, rgb(23 49 115 / 1.56%) 99.99%, rgb(37 70 185 / 0%) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--dark-color);

  &--scroll-off {
    overflow: hidden;
  }
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

svg {
  width: 100%;
  height: 100%;
  fill: currentcolor;
  object-fit: cover;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);

  &--full-height {
    height: 100vh;
  }

  &--smaller {
    max-width: calc(1454px + var(--container-offset));
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.full-page {
  counter-reset: pagination;
}

.title {
  position: relative;
  margin: 0;
  font-weight: 500;
  font-size: 90px;
  line-height: 110px;
  letter-spacing: 0.1em;
  text-shadow: 0 10px 30px rgba(0 0 0 / 70%);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -25px;
    border-radius: 4px;
    width: 50%;
    height: 4px;
    background-color: var(--main-color);
  }
}

.descr {
  margin: 0;
  font-family: "MontserratAlternates", sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
}

.stars-wrapper {
  position: absolute;
  right: 15px;
  top: 50%;
  z-index: -2;
  width: 1300px;
  transform: translateY(-50%);
}

.moon-bg-wrapper {
  position: absolute;
  right: 11%;
  top: 50%;
  z-index: -2;
  transform: translateY(-50%);
  transition: transform 0.7s;

  &--hidden {
    transform: translateY(-50%) scale(0);
  }
}

.moon-bg {
  border-radius: 100%;
  width: 550px;
  height: 550px;
  box-shadow:
    0 0 0 400px rgb(237 244 250 / 5%),
    0 0 0 320px rgb(237 244 250 / 5%),
    0 0 0 240px rgb(237 244 250 / 5%),
    0 0 0 160px rgb(237 244 250 / 5%),
    0 0 0 80px rgb(237 244 250 / 5%);
  background-color: rgb(237 244 250 / 29%);
}

.section-default {
  @include flex;

  position: relative;
  align-items: center;
  padding-left: 170px;
  height: 100vh;
}

.icon {
  display: block;
  width: 35px;
  height: 35px;
  color: rgba(var(--header-color) / 100%);
  filter: drop-shadow(3px 3px 10px rgba(0 0 0 / 70%));
}

.title.anim {
  &::after {
    transform: translate3d(-100%, 0, 0);
  }
}

.anim {
  transition:
    transform 0.1s,
    opacity 0.1s;

  &--left {
    transform: translate3d(-100%, 0, 0);
  }

  &--bottom {
    transform: translate3d(0, 100%, 0);
  }

  &--right {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  &--opacity {
    opacity: 0;
  }
}

.show {
  .title.anim {
    &::after {
      transform: translate3d(0, 0, 0);
      transition: transform 0.7s calc(var(--delay) * 2);
    }
  }

  .anim {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition:
      transform 0.7s calc(var(--delay) * 1),
      opacity 0.4s calc(var(--delay) * 1);
  }

  .anim.btn {
    transition:
      transform 0.7s calc(var(--delay) * 1),
      opacity 0.4s calc(var(--delay) * 1),
      color 0.5s ease-in-out,
      background-color 0.5s ease-in-out;
  }
}

[data-text] {
  overflow: hidden;
}

.illustration {
  position: absolute;
  right: 9%;
  top: 50%;
  z-index: -1;
  overflow: visible;
  transform: translateY(-50%);
}

.header-color {
  --header-color: 255 77 90;
}
