// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Rubik", sans-serif;
  --content-width: 1800px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --main-color: #ff4d5a;
  --grey-color: #f2f4f5;
  --point-color: #173173;
  --dark-color: #000;
  --river-color: #072142;
  --header-color: #fff;
}
